---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading py-3">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h4 class="post-list-heading">{{ page.list_title }}</h4>
    {%- endif -%}
    <ul class="post-list list-unstyled">
      {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li class="mb-5">
        <span class="post-meta text-muted">{{ post.date | date: date_format }}</span>
        <h5>
          <a class="post-link text-decoration-none" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h5>
        {%- if site.excerpts.show -%}
          {%- if site.excerpts.auto_truncate -%}{{ post.excerpt | truncatewords: 32 }}{%- else -%}{{ post.excerpt }}{%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <nav aria-label="Blog page navigation">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
      {% endif %}
  
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
  
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% endif %}
    </nav>
    {% endif %}

  {%- endif -%}

</div>
